---
layout: default
---

{%- if page.banner -%}
<div class="banner">
  {%- if page.banner.video -%}
  <video
    autoplay
    loop
    muted
    volume="{{ page.banner.volume | default: 0 }}"
    start-at="{{ page.banner.start_at | default: 0 }}"
    {%- if page.banner.loop -%}
    loop
    {%- endif -%}
  >
    <source src="{{ page.banner.video }}" type="video/mp4">
  </video>
  {%- endif -%}
  {%- if page.banner.image -%}
  <img src="{{ page.banner.image }}" alt="banner">
  {%- endif -%}
  <div class="banner-content">
    <h1 class="banner-heading home-heading">{{ page.heading }}</h1>
    {%- if page.subheading -%}
    <p class="banner-subheading">{{ page.subheading }}</p>
    {%- endif -%}
  </div>
</div>
{%- endif -%}

{{ content }}

<script src="{{ '/assets/js/dynamic-heading.js' | relative_url }}"></script> 